
@{
    ViewBag.Title = "AdministratorHome";
}

<h2>AdministratorHome</h2>
@Html.ActionLink("View All Bookings","Index","FlightBookings")
@Html.ActionLink("View Flights","Index","Flights")
@Html.ActionLink("Add New Admin","RegisterAdmin","Account")

