
@{
    ViewBag.Title = "Passenger Home";
}

<h2>Passenger Home</h2>

@Html.ActionLink("Create Booking","Create","FlightBookings")
@Html.ActionLink("View Flights", "AllFlights","Flights")
@Html.ActionLink("My Bookings", "UserFlight", "FlightBookings")